.copyright {
	display: inline-block !important;
	padding-left: .5rem !important;
}

.fgcLogoFooter {
	width: 200px;
	padding: 10px;
}

.footerContainer {
	margin-top: 1rem;
}

.icons {
}

/* For devices 400px and larger: */
@media only screen and (min-device-width: 450px) {
    .fgcLogoFooter {
	width: 150px;
}
}